/* colors */

$colorWhite: #FFFFFF;
$colorDark: #202020;
$colorGrey_1: #333333;
$colorGrey_2: #4A4A4A;
$colorGrey_3: #666666;
$colorGrey_4: #999999;
$colorGrey_5: #CACACA;
$colorGrey_6: #E9E9E9;
$colorGrey_7: #C4C4C4;
$colorGrey_8: #808080;
$colorOrange_1: #FF6E30;
$colorOrange_2: #CE4307;
$colorOrange_3: #BC572B;
$colorRed_1: #F06666;
$colorPeach: #FFD4C1;

/* fonts */

$roboto: 'Roboto', sans-serif;
$firsNeue: 'TT Firs Neue', sans-serif;

$regular: 400;
$bold: 700;

/* container */

$containerMaxWidth: 1290px;
$containerMaxWidth-1024: 963px;
$containerMaxWidth-768: 714px;
$containerMaxWidth-320: 279px;
